<mat-card-content class="container">
    <mat-card class="card-login">
      <mat-card-title>HealthCareSystem</mat-card-title>
  
      <div class="welcome-message">
        <img src="assets/logo/logo.png" alt="Logo" class="welcome-image" />
        <h3>Welcome to our system!</h3>
        <p>Sign in or sign up to know more about us!</p>
      </div>
  
      <mat-card-actions class="button-container"> 
        <button mat-button color="primary" class="full" (click)="login()">Login</button>
        <button mat-button color="primary" class="full" (click)="signUp()">Signup</button>
      </mat-card-actions>
    </mat-card>
  </mat-card-content> 
  