<div class="fullscreen-container">
  <p-card 
    styleClass="card-container" 
    [style]="{ width: '350px', height: '400px', borderRadius: '15px', margin: 'auto' }">
    
    <ng-template pTemplate="header">
      <div class="header-text">Welcome to HealthCare</div>
    </ng-template>
    
    <div class="button-container">
      <p-button 
        label="Login" 
        icon="pi pi-sign-in" 
        (onClick)="login()" 
        styleClass="p-button-raised p-button-rounded full-width large-button">
      </p-button>
      
      <div class="divider"></div>
      
      <p-button 
        label="Sign Up" 
        icon="pi pi-user-plus" 
        (onClick)="signup()" 
        styleClass="p-button-outlined p-button-rounded full-width large-button">
      </p-button>
    </div>

    <!-- Checkbox de Política de Privacidade -->
    <div class="privacy-policy-container">
      <div class="checkbox-wrapper">
        <input 
          type="checkbox" 
          [(ngModel)]="isPolicyAccepted" 
          id="policyCheckbox" 
          class="privacy-checkbox" />
        <label for="policyCheckbox" class="privacy-policy-label">
          I accept the
          <a href="#" (click)="showPrivacyPolicy($event)">Private Policy</a>
        </label>
      </div>
    </div>
  </p-card>
</div>

<!-- Modal de Política de Privacidade -->
<p-dialog 
  header="Política de Privacidade" 
  [(visible)]="displayPrivacyPolicy" 
  [modal]="true" 
  [closable]="true" 
  [style]="{ width: '50vw' }">
  
  <div class="p-d-flex p-flex-column">
    <h3>Dados que serão tratados</h3>
    <p>Os dados dos pacientes que serão tratados são os seguintes:</p>
    <ul>
      <li><strong>Nome, Apelido e Nome Completo:</strong> Para fins de identificação e personalização na comunicação com o paciente;</li>
      <li><strong>Data de Nascimento:</strong> Usada para verificar a idade do paciente, atendendo a requisitos legais e médicos;</li>
      <li><strong>Gênero:</strong> Utilizado para fornecer cuidados médicos personalizados;</li>
      <li><strong>Email e Contacto Telefónico:</strong> Para enviar mensagens sobre consultas, lembretes e outras comunicações relacionadas ao cuidado médico;</li>
      <li><strong>Morada:</strong> Necessário para fins administrativos, como correspondências ou situações de emergência;</li>
      <li><strong>Registo Médico:</strong> Mantido para garantir que os cuidados médicos sejam prestados de forma contínua e conforme as necessidades específicas de cada paciente. O registo médico inclui condições médicas e alergias, assim como possíveis anotações adicionais;</li>
      <li><strong>Contacto de Emergência:</strong> Usado em situações de emergência para entrar em contacto com familiares ou responsáveis;</li>
      <li><strong>Histórico de Consultas/Operações:</strong> Para manutenção do histórico clínico, agendamento de consultas e continuidade no cuidado médico.</li>
    </ul>
    <p>Estes dados serão recolhidos, armazenados de forma segura, poderão ser atualizados e, em caso das necessidades referidas anteriormente, poderão ser utilizados.</p>

    <h3>Direitos do Paciente</h3>
    <p>Todos os pacientes têm os seguintes direitos:</p>
    <ul>
      <li>Aceder aos seus dados;</li>
      <li>Atualizar os seus dados;</li>
      <li>Solicitar que os seus dados sejam apagados.</li>
    </ul>
    <p>Caso os pacientes pretendam exercer os seus direitos deverão enviar um email para <strong>healthcare-system&#64;gmail.com</strong> e expor a sua intenção.</p>

    <h3>Política de Retenção de Dados Pessoais</h3>
    <p>Os dados pessoais dos utilizadores serão armazenados apenas pelo intervalo necessário para cumprir as finalidades para as quais foram recolhidos, conforme descrito nos tópicos abaixo da Política de Privacidade ou exigido pela lei em vigor.</p>
    <ul>
      <li><strong>Manutenção de Dados Identificáveis:</strong> Após a solicitação de eliminação por parte do paciente, os dados pessoais identificáveis serão mantidos por um período máximo de 30 dias, exclusivamente para a gestão administrativa do pedido e cumprimento de requisitos legais.</li>
      <li><strong>Anonimização dos Dados:</strong> Após o prazo de 30 dias, os dados serão anonimizados, removendo qualquer elemento que permita identificar o paciente. Os dados anonimizados poderão ser armazenados e utilizados por um período de até 5 anos para fins estatísticos, de pesquisa ou melhoria dos serviços prestados pelo estabelecimento de saúde.</li>
    </ul>
    <p>Após o término do prazo de anonimização, os dados serão eliminados de forma segura, garantindo a conformidade com os regulamentos de proteção de dados em vigor.</p>
  </div>
  
</p-dialog>
