<div class="card">
    <p-table [value]="appointments" [tableStyle]="{ 'min-width': '60rem' }" [loading]="loading">
        <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-between" style="width: 100%;">
                    <span class="text-xl font-bold">Appointments</span>
                    <p-button 
                        icon="pi pi-refresh" 
                        rounded 
                        raised 
                        [style.marginLeft]="'auto'"
                        (click)="loadAppointments()">
                    </p-button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 10%;">Patient</th>
                <th style="width: 10%;">Operation Type</th>
                <th style="width: 20%;">Date and Time</th>
                <th>Room ID</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-appointment>
            <tr (click)="logData(appointment)">
                <!-- Medical Record Number -->
                <td style="width: 10%;">{{ appointment.patientName }}</td>

                <!-- Operation Type -->
                <td style="width: 10%;">{{ appointment.operationRequestDto.operationType.name }}</td>

                <!-- Date and Time -->
                <td style="width: 20%;">{{ appointment.dateAndTime | date: 'full' }}</td>

                <!-- Room ID -->
                <td>{{ appointment.surgeryRoomDto?.id }}</td>

                <!-- Team -->
                <td>
                    <div *ngFor="let staff of appointment.team">
                        {{ staff.staffFullName }} - {{ staff.userId }}
                    </div>
                </td>

                <!-- Actions -->
                <td>
                    <div class="flex gap-2">
                        <button 
                            pButton 
                            icon="pi pi-pencil" 
                            class="p-button-rounded p-button-info" 
                            (click)="editAppointment(appointment)" 
                            title="Edit">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>



    <!-- Diálogo para editar as informações do Paciente -->
    <p-dialog [(visible)]="editDialogVisible" [responsive]="true"   [style]="{width: '50vw', height: '95vh'}">
    <ng-template pTemplate="header">
      <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">          
        <div class="col">Edit Appointment Information</div>
      </div>
    </ng-template> 

    <div class="card">
        <p-dataView [value]="[selectedAppointment]" [rows]="1">
          <ng-template pTemplate="header">
            <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">
              <div class="col">Field</div>
              <div class="col">Value</div>
            </div>
          </ng-template>

          <ng-template pTemplate="list" let-appointment>
            <div class="grid grid-nogutter text-center border-top-1 surface-border">
            </div>

            <!-- Surgery Room ID -->
<div class="grid grid-nogutter text-center border-top-1 surface-border">
    <div class="col p-2">
        <label for="surgeryRoomDto.id">Surgery Room ID</label>
    </div>
    <div class="col p-2">
        <input pInputText id="surgeryRoomDto.id" [(ngModel)]="selectedAppointment.surgeryRoomDto.id" class="custom-input"        />
    </div>
</div>


        <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
                <label for="dateAndTime">Date and Time</label>
            </div>
            <div class="col p-2">
                <input 
                    id="dateAndTime" 
                    type="datetime-local" 
                    [(ngModel)]="selectedAppointment.dateAndTime" 
                    pInputText 
                    class="custom-input"
                />
            </div>
        </div>

        <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
                <label for="team">Team Members</label>
            </div>
            <div class="col p-2">
                <p-multiSelect 
                id="selectedAppointment.team" 
                [(ngModel)]="selectedAppointment.team" 
                [options]="teamOptions" 
                optionLabel="label" 
                placeholder="Select team members"
                (onChange)="validateSelectedTeamMembers()"
                class="custom-input">
              </p-multiSelect>
            </div>
        </div>
    </ng-template>
</p-dataView>

    <p-footer>
        <div class="flex justify-end gap-2" style="position: absolute; bottom: 1rem; right: 1rem;">
        <button 
            pButton 
            label="Save" 
            icon="pi pi-check" 
            (click)="updateAppointment(selectedAppointment)">
        </button>
        <button 
            pButton 
            label="Cancel" 
            icon="pi pi-times" 
            class="p-button-secondary" 
            (click)="editDialogVisible = false">
        </button>
        </div>
    </p-footer>
</div>
</p-dialog>
</div>
