<div class="appointments">
    <h2>My Appointments</h2>
  
    <div *ngFor="let appointment of appointments" class="appointment-card-container">
      <p-card class="appointment-card" [ngClass]="getStatusClass(appointment.status)" header="{{ appointment.operationRequestDto.operationType.name }}">
        <ng-template pTemplate="content">
          <div class="appointment-details">
            <p><strong>Duration:</strong> {{ appointment.operationRequestDto.operationType.estimatedDuration }} minutes</p>
            <p><strong>Date:</strong> {{ formatDate(appointment.dateAndTime) }}</p>
            <p><strong>Status:</strong>
              <p-badge [value]="appointment.status" [severity]="getBadgeSeverity(appointment.status)"></p-badge>
            </p>
          </div>
        </ng-template>
  
        <p-footer>
          <!-- Botão com ícone de seta para baixo -->
          <button pButton type="button" icon="pi pi-chevron-down" (click)="overlayPanel.toggle($event)" class="p-button p-button-outlined p-button-info p-button-lg">
            More
          </button>
        </p-footer>
  
        <!-- OverlayPanel contendo os detalhes adicionais -->
        <p-overlayPanel #overlayPanel [dismissable]="true">
          <div class="overlay-content">
            <p><strong>Anesthesia Duration:</strong> {{ appointment.operationRequestDto.operationType.anesthesiaTime }} minutes</p>
            <p><strong>Surgery Duration:</strong> {{ appointment.operationRequestDto.operationType.surgeryTime }} minutes</p>
            <p><strong>Cleaning Duration:</strong> {{ appointment.operationRequestDto.operationType.cleaningTime }} minutes</p>
          </div>
        </p-overlayPanel>
      </p-card>
    </div>
  </div>
  