::ng-deep .p-button.p-button-danger {
  background-color: #f44336 !important; /* Vermelho */
  border-color: #f44336 !important;
  color: #fff !important; /* Garantir que o texto fique branco */
}

::ng-deep .p-button.p-button-danger:hover {
  background-color: #e53935 !important; /* Vermelho mais escuro ao passar o mouse */
  border-color: #e53935 !important;
}
