:host {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa; 
  height: 100vh;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  padding: 20px;
}

mat-nav-list {
  padding: 0; 
}

mat-list-item {
  transition: background-color 0.3s;
}

mat-list-item:hover {
  background-color: #e0e0e0; 
}
