<div class="card">
  <p-dataView #dv [value]="patients" [rows]="5" [paginator]="true">
    <ng-template pTemplate="header">
      <div class="flex justify-between mt-2 mb-2">
        <div class="flex gap-4">

          <p-floatLabel class="flex-1">
            <input pInputText id="nameFilter" [(ngModel)]="nameFilter" placeholder="Search by name" class="p-inputtext-sm" />
            <label for="nameFilter" style="font-size: 0.9rem;">Full Name</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="birthDateFilter" [(ngModel)]="birthDateFilter" placeholder="Search by date of birth" class="p-inputtext-sm" />
            <label for="birthDateFilter" style="font-size: 0.9rem;">Date of Birth</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="genderFilter" [(ngModel)]="genderFilter" placeholder="Search by gender" class="p-inputtext-sm" />
            <label for="genderFilter" style="font-size: 0.9rem;">Gender</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="emailFilter" [(ngModel)]="emailFilter" placeholder="Search by email" class="p-inputtext-sm" />
            <label for="emailFilter" style="font-size: 0.9rem;">Email</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="phoneNumberFilter" [(ngModel)]="phoneNumberFilter" placeholder="Search by phone number" class="p-inputtext-sm" />
            <label for="phoneNumberFilter" style="font-size: 0.9rem;">Phone Number</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="mrnFilter" [(ngModel)]="mrnFilter" placeholder="Search by MRN" class="p-inputtext-sm" />
            <label for="mrnFilter" style="font-size: 0.9rem;">Medical Record Number</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <p-dropdown
              [(ngModel)]="statusFilter"
              [options]="statusOptions"
              optionLabel="label"
              optionValue="value"
              class="p-dropdown-sm">
            </p-dropdown>
            <label for="statusFilter">Status</label>
          </p-floatLabel>

          <!-- Botão de Pesquisa -->
          <div class="flex items-end">
            <button (click)="onSearch()" class="p-button p-button-primary">Search
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Conteúdo da Lista -->
    <ng-template pTemplate="list" let-items>
      <p-scrollPanel [style]="{ width: '100%', height: '750px' }">
        <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">
          <div class="col">Medical Record Number</div>
          <div class="col">Status</div>
          <div class="col">Name</div>
          <div class="col">Birth Date</div>
          <div class="col">Gender</div>
          <div class="col">Email</div>
          <div class="col">Phone Number</div>
          <div class="col">Address</div>
          <div class="col">Medical Record</div>
          <div class="col">Emergency Contact</div>
          <div class="col">Actions</div>
        </div>

        <div class="grid grid-nogutter text-center border-top-1 surface-border" *ngFor="let patient of patients; let first = first">
          <div class="col p-2">
            <span class="font-bold text-900">{{ patient.medicalRecordNumber || 'Not specified' }}</span>
          </div>

          <div class="col p-2">
            <p-badge
              [value]="patient.active ? 'Active' : 'Deactivated'"
              [severity]="patient.active ? 'success' : 'danger'"
              class="text-sm">
            </p-badge>
          </div>

          <div class="col p-2">
            {{ patient.fullName || 'Not specified' }}
          </div>

          <div class="col p-2">
            {{ patient.birthDate || 'Not specified' }}
          </div>

          <div class="col p-2">
            {{ patient.gender || 'Not specified' }}
          </div>

          <div class="col p-2">
            {{ patient.email || 'Not specified' }}
          </div>

          <div class="col p-2">
            {{ patient.phoneNumber || 'Not specified' }}
          </div>

          <div class="col p-2">
            {{ patient.address || 'Not specified' }}
          </div>

          <div class="col p-2">
            <p-button
              icon="pi pi-eye"
              label="View"
              (click)="showMedicalHistory(patient.MedicalRecord)"
              class="p-button-sm">
            </p-button>
          </div>

          <div class="col p-2">
            {{ patient.emergencyContact || 'Not specified' }}
          </div>

          <div class="col p-2">
            <div class="flex justify-center gap-2">
              <p-button 
                icon="pi pi-pencil"
                [outlined]="true"
                [disabled]="!patient.Active"
                [style]="{ 'color': '#2196F3', 'border-color': '#2196F3' }">
              </p-button>

              <p-button 
                icon="pi pi-trash"
                [disabled]="!patient.Active"
                [ngClass]="{ 'p-button-danger': true }"
                [style]="{
                  'background-color': '#f44336',
                  'border-color': '#f44336',
                  'color': 'white'
                }">
              </p-button>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </ng-template>
  </p-dataView>

  <!-- Diálogo de Histórico Médico -->
  <p-dialog header="Medical Record" [(visible)]="medicalHistoryDialogVisible" modal="true" [style]="{ width: '40vw' }">
    <p>{{ selectedMedicalHistory }}</p>
  </p-dialog>
</div>
