<div class="card">
  <p-dataView #dv [value]="patients" [rows]="5" [paginator]="true">
    <ng-template pTemplate="header">
      <div class="flex justify-between mt-2 mb-2">
        <div class="flex gap-4">

          <p-floatLabel class="flex-1">
            <input pInputText id="nameFilter" [(ngModel)]="nameFilter" placeholder="Search by name" class="p-inputtext-sm" />
            <label for="nameFilter" style="font-size: 0.9rem;">Full Name</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="birthDateFilter" [(ngModel)]="birthDateFilter" placeholder="Search by date of birth" class="p-inputtext-sm" />
            <label for="birthDateFilter" style="font-size: 0.9rem;">Date of Birth</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="genderFilter" [(ngModel)]="genderFilter" placeholder="Search by gender" class="p-inputtext-sm" />
            <label for="genderFilter" style="font-size: 0.9rem;">Gender</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="emailFilter" [(ngModel)]="emailFilter" placeholder="Search by email" class="p-inputtext-sm" />
            <label for="emailFilter" style="font-size: 0.9rem;">Email</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="phoneNumberFilter" [(ngModel)]="phoneNumberFilter" placeholder="Search by phone number" class="p-inputtext-sm" />
            <label for="phoneNumberFilter" style="font-size: 0.9rem;">Phone Number</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <input pInputText id="mrnFilter" [(ngModel)]="mrnFilter" placeholder="Search by MRN" class="p-inputtext-sm" />
            <label for="mrnFilter" style="font-size: 0.9rem;">Medical Record Number</label>
          </p-floatLabel>

          <p-floatLabel class="flex-1">
            <p-dropdown
              [(ngModel)]="statusFilter"
              [options]="statusOptions"
              optionLabel="label"
              optionValue="value"
              class="p-dropdown-sm">
            </p-dropdown>
            <label for="statusFilter">Status</label>
          </p-floatLabel>

          <!-- Botão de Pesquisa -->
          <div class="flex items-end">
            <button (click)="onSearch()" class="p-button p-button-primary">Search
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Conteúdo da Lista -->
    <ng-template pTemplate="list" let-items>
      <p-scrollPanel [style]="{ width: '100%', height: '750px' }">
        <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">
          <div class="col text-center" style="flex: 2;">Medical Record Number</div>
          <div class="col text-center" style="flex: 1;">Status</div>
          <div class="col text-center" style="flex: 2;">Name</div>
          <div class="col text-center" style="flex: 1;">Birth Date</div>
          <div class="col text-center" style="flex: 1;">Gender</div>
          <div class="col text-center" style="flex: 2;">Email</div>
          <div class="col text-center" style="flex: 1;">Phone Number</div>
          <div class="col text-center" style="flex: 2;">Address</div>
          <div class="col text-center" style="flex: 1;">Medical Record</div>
          <div class="col text-center" style="flex: 1;">Emergency Contact</div>
          <div class="col text-center" style="flex: 1;">Actions</div>
        </div>

        <div class="grid grid-nogutter text-center border-top-1 surface-border" *ngFor="let patient of patients; let first = first">
          <div class="col p-2 text-center" style="flex: 2;">
            <span class="font-bold text-900">{{ patient.medicalRecordNumber || 'Not specified' }}</span>
          </div>

          <div class="col p-2 text-center" style="flex: 1;">
            <p-badge
              [value]="patient.active ? 'Active' : 'Deactivated'"
              [severity]="patient.active ? 'success' : 'danger'"
              class="text-sm">
            </p-badge>
          </div>

          <div class="col p-2 text-center" style="flex: 2;">
            {{ patient.fullName || 'Not specified' }}
          </div>

          <div class="col p-2 text-center" style="flex: 1;">
            {{ patient.birthDate || 'Not specified' }}
          </div>

          <div class="col p-2 text-center" style="flex: 1;">
            {{ patient.gender || 'Not specified' }}
          </div>

          <div class="col p-2 text-center" style="flex: 2;">
            {{ patient.email || 'Not specified' }}
          </div>

          <div class="col p-2 text-center" style="flex: 1;">
            {{ patient.phoneNumber || 'Not specified' }}
          </div>

          <div class="col p-2 text-center" style="flex: 2;">
            {{ patient.address || 'Not specified' }}
          </div>

          <div class="col p-2 text-center" style="flex: 1;">
            <p-button
              icon="pi pi-eye"
              label="View"
              (click)="showMedicalHistory(patient.medicalRecord)"
              class="p-button-sm">
            </p-button>
          </div>

          <div class="col p-2 text-center" style="flex: 1;">
            {{ patient.emergencyContact || 'Not specified' }}
          </div>


          <div class="col p-2 text-center" style="flex: 1;">
            <div class="flex justify-center gap-2">
              <p-button icon="pi pi-pencil" [outlined]="true" [disabled]="!patient.active" (click)="openEditDialog(patient)" [style]="{ 'color': '#2196F3', 'border-color': '#2196F3' }"></p-button>


              <p-button 
                icon="pi pi-trash"
                [disabled]="!patient.active"
                [ngClass]="{ 'p-button-danger': true }"
                [style]="{
                  'background-color': '#f44336',
                  'border-color': '#f44336',
                  'color': 'white'
                }">
              </p-button>
            </div>
          </div>

<!-- Diálogo para editar as informações do Staff -->
<p-dialog header="Edit Patient Information" [(visible)]="editDialogVisible" [responsive]="true" [style]="{ width: '50%' }">
  <div class="card">
    <p-dataView [value]="[selectedPatient]" [rows]="1">
      <ng-template pTemplate="header">
        <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">
          <div class="col">Field</div>
          <div class="col">Value</div>
        </div>
      </ng-template>
      
      <ng-template pTemplate="list" let-patient>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="firstName">First Name</label>
          </div>
          <div class="col p-2">
            <input pInputText id="firstName" [(ngModel)]="selectedPatient.firstName" />
          </div>
        </div>
        
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="lastName">Last Name</label>
          </div>
          <div class="col p-2">
            <input pInputText id="lastName" [(ngModel)]="selectedPatient.lastName" />
          </div>
        </div>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="fullName">Full Name</label>
          </div>
          <div class="col p-2">
            <input pInputText id="fullName" [(ngModel)]="selectedPatient.fullName" />
          </div>
        </div>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="medicalRecord">Medical Record</label>
          </div>
          <div class="col p-2">
            <button 
              pButton 
              label="Edit Medical Record" 
              class="p-button-primary"
              icon="pi pi-pencil"
              (click)="openMedicalRecordDialog()">
            </button>
          </div>
        </div>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="phoneNumber">Phone Number</label>
          </div>
          <div class="col p-2">
            <input pInputText id="phoneNumber" [(ngModel)]="selectedPatient.phoneNumber" />
          </div>
        </div>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="email">Email</label>
          </div>
          <div class="col p-2">
            <input pInputText id="email" [(ngModel)]="selectedPatient.email" />
          </div>
        </div>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="address">Address</label>
          </div>
          <div class="col p-2">
            <input pInputText id="address" [(ngModel)]="selectedPatient.address" />
          </div>
        </div>
      </ng-template>
    </p-dataView>
    <div class="flex justify-content-end gap-2"  style="margin-top: 30px;">
      <button pButton label="Save" icon="pi pi-check" (click)="updatePatient(selectedPatient)" class="p-button-primary"></button>
      <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary" (click)="closeEditDialog()"></button>
  </div>
  </div>
  </p-dialog>

        </div>
      </p-scrollPanel>
    </ng-template>
  </p-dataView>

    <!-- Diálogo de Histórico Médico -->
    <p-dialog [(visible)]="medicalHistoryDialogVisible" modal="true" [style]="{ width: '40vw' }">
      <ng-template pTemplate="header">
        <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">          
          <div class="col">Medical Record</div>
        </div>
      </ng-template> 
      <p>{{ selectedMedicalHistory }}</p>
    </p-dialog>

    <p-dialog [(visible)]="medicalRecordDialogVisible" [responsive]= "true" [style]="{ width: '40vw' }">
      <ng-template pTemplate="header">
        <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">          
          <div class="col">Edit Medical Record</div>
        </div>
      </ng-template>      
      <div class="card">
        <h3>Patient: {{ selectedPatient?.fullName || 'Patient' }}</h3>
        <textarea 
        [(ngModel)]="selectedPatient.medicalRecord" 
        placeholder="Enter or update the medical record here" 
        style="width: 100%; font-family: Arial, sans-serif; overflow: hidden; resize: none;"
        (input)="adjustTextarea($event)">
      </textarea>      
        <div class="flex justify-content-end mt-6 gap-2">
          <button pButton label="Save" icon="pi pi-check" class="p-button-success" (click)="saveMedicalRecord()"></button>
          <button pButton label="Cancel" icon="pi pi-times" class="p-button-secondary" (click)="closeMedicalRecordDialog()"></button>
        </div>
      </div>
    </p-dialog>
</div>
