<div class="card flex justify-content-center">
    <p-dialog header="Request Operation" [(visible)]="visible" [modal]="true"
        [style]="{ width: '50rem', height: 'auto' }">

        <div class="mb-4">
            <label for="patientDropdown" class="p-text-secondary block">Select Patient:</label>
            <div class="card flex justify-content-center">
                <p-dropdown 
                    id="patientDropdown"
                    [options]="patient"  
                    [(ngModel)]="selectedPatient"
                    [checkmark]="true" 
                    optionLabel="label" 
                    [showClear]="true"
                    placeholder="Select a Patient"
                    [style]="{width:'25rem'}" 
                    [ngModelOptions]="{standalone: true}" />
            </div>
        </div>

        <div class="mb-4">
            <label for="doctorDropdown" class="p-text-secondary block">Select Doctor:</label>
            <div class="card flex justify-content-center">
                <p-dropdown 
                    id="doctorDropdown"
                    [options]="selectedDoctor" 
                    [(ngModel)]="selectedDoctorId" 
                    [checkmark]="true" 
                    optionLabel="label"
                    [showClear]="true" 
                    placeholder="Select a Doctor" 
                    [style]="{width:'25rem'}"
                    [ngModelOptions]="{standalone: true}" 
                    (onChange)="onDoctorChange()" />
            </div>
        </div>

        <div class="mb-4">
            <label for="operationTypeDropdown" class="p-text-secondary block">Select Operation Type:</label>
            <div class="card flex justify-content-center">
                <p-dropdown 
                    id="operationTypeDropdown"
                    [options]="operationType" 
                    [(ngModel)]="operationTypeName" 
                    placeholder="Select a Operation Type"
                    [editable]="true" 
                    optionLabel="label" 
                    [appendTo]="'body'" 
                    [showClear]="true"
                    [ngModelOptions]="{standalone: true}" />
            </div>
        </div>

        <div class="mb-4">
            <label class="p-text-secondary block">Select Priority:</label>
            <div class="card flex justify-content-center">
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        <p-radioButton name="priority" value="Elective" [(ngModel)]="priority" inputId="priority1" />
                        <label for="priority1" class="ml-2">Elective</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="priority" value="Urgent" [(ngModel)]="priority" inputId="priority2" />
                        <label for="priority2" class="ml-2">Urgent</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="priority" value="Emergency" [(ngModel)]="priority" inputId="priority3" />
                        <label for="priority3" class="ml-2">Emergency</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <label for="deadlineCalendar" class="p-text-secondary block">Select Deadline date:</label>
            <div class="card flex justify-content-center">
                <p-calendar id="deadlineCalendar" [(ngModel)]="deadlinedate" class="p-fluid" />
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="flex justify-content-end gap-2">
                <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="visible = false"></p-button>
                <p-button label="Save" [outlined]="true" severity="primary" (onClick)="saveOperationRequest()"></p-button>
            </div>
        </ng-template>
    </p-dialog>

    <p-toast></p-toast>
</div>
