
  
    <p-dialog [(visible)]="display" [modal]="true" [header]="'Edit Request'" [closable]="true" [style]="{ width: '50vw' }">
      <form [formGroup]="operationRequestForm" (ngSubmit)="onSubmit()" class="form-container">
        
        <div class="mb-4">
          <label class="p-text-secondary block">Select Priority:</label>
          <div class="card flex justify-content-center">
            <div class="flex flex-wrap gap-3">
              <div class="flex align-items-center">
                <p-radioButton name="priority" value="Elective" formControlName="priority" inputId="priority1" />
                <label for="priority1" class="ml-2">Elective</label>
              </div>
              <div class="flex align-items-center">
                <p-radioButton name="priority" value="Urgent" formControlName="priority" inputId="priority2" />
                <label for="priority2" class="ml-2">Urgent</label>
              </div>
              <div class="flex align-items-center">
                <p-radioButton name="priority" value="Emergency" formControlName="priority" inputId="priority3" />
                <label for="priority3" class="ml-2">Emergency</label>
              </div>
            </div>
          </div>
        </div>
  
        <div class="mb-4">
          <label class="p-text-secondary block">Select Status:</label>
          <div class="card flex justify-content-center">
            <div class="flex flex-wrap gap-3">
              <div class="flex align-items-center">
                <p-radioButton name="status" value="On Schedule" formControlName="status" inputId="status1" />
                <label for="status1" class="ml-2">On Schedule</label>
              </div>
              <div class="flex align-items-center">
                <p-radioButton name="status" value="Scheduled" formControlName="status" inputId="status2" />
                <label for="status2" class="ml-2">Scheduled</label>
              </div>
            </div>
          </div>
        </div>
  
        <div class="mb-4">
          <label for="deadlineCalendar" class="p-text-secondary block">Select Deadline Date:</label>
          <div class="card flex justify-content-center">
            <p-calendar id="deadlineCalendar" formControlName="deadlineDate" class="p-fluid"></p-calendar>
          </div>
        </div>
  
        <div class="button-group">
          <button type="submit" class="btn btn-success" [disabled]="operationRequestForm.invalid">Save</button>
          <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancel</button>
        </div>
      </form>
    </p-dialog>
  
  