<!-- Diálogo para editar as informações do Staff -->
<p-dialog header="Edit Patient Information" [(visible)]="editDialogVisible" [responsive]="true" [style]="{ width: '50%' }">
    <div class="card">  
    <p-dataView [value]="[selectedPatient]" [rows]="1">
        <ng-template pTemplate="header">
          <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">
            <div class="col">Field</div>
            <div class="col">Value</div>
          </div>
        </ng-template>
        
        <ng-template pTemplate="list" let-staff>
          <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
              <label for="firstName">First Name</label>
            </div>
            <div class="col p-2">
              <input pInputText id="firstName" [(ngModel)]="selectedPatient.firstName" />
            </div>
          </div>
          
          <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
              <label for="lastName">Last Name</label>
            </div>
            <div class="col p-2">
              <input pInputText id="lastName" [(ngModel)]="selectedPatient.lastName" />
            </div>
          </div>
          <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
              <label for="fullName">Full Name</label>
            </div>
            <div class="col p-2">
              <input pInputText id="fullName" [(ngModel)]="selectedPatient.fullName" />
            </div>
          </div>
          <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
              <label for="medicalRecord">Medical Record</label>
            </div>
            <div class="col p-2">
              <input pInputText id="medicalRecord" [(ngModel)]="selectedPatient.medicalRecord" />
            </div>
          </div>
          <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
              <label for="phoneNumber">Phone Number</label>
            </div>
            <div class="col p-2">
              <input pInputText id="phoneNumber" [(ngModel)]="selectedPatient.phoneNumber" />
            </div>
          </div>
          <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
              <label for="email">Email</label>
            </div>
            <div class="col p-2">
              <input pInputText id="email" [(ngModel)]="selectedPatient.email" />
            </div>
          </div>
          <div class="grid grid-nogutter text-center border-top-1 surface-border">
            <div class="col p-2">
              <label for="address">Address</label>
            </div>
            <div class="col p-2">
              <input pInputText id="address" [(ngModel)]="selectedPatient.address" />
            </div>
          </div>

        </ng-template>
      </p-dataView>
      <div class="flex justify-content-end">
        <button pButton label="Save" icon="pi pi-check" (click)="updatePatient(selectedPatient)" class="p-button-primary"></button>
        <button pButton label="Close" icon="pi pi-times" (click)="closeDialog()" class="p-button-secondary"></button>  
    </div>
    </div>
    </p-dialog>