/* Add this to your component's stylesheet */
.disable-button {
    background-color: red !important;
    border-color: rgb(231, 224, 224);
    color: white !important;
    margin-left: 10px; /* To add space between the buttons */
  }
  
  .disable-button:hover {
    background-color: darkred !important; /* Darker red on hover */
    border-color: darkred !important;
  }

  .header th{
    background-color: #007bff !important; 
    color: white;
  }
  