<p-table [value]="roomTypes" [tableStyle]="{ 'min-width': '60rem' }" [loading]="loading">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Room Types</span>
            <p-button icon="pi pi-refresh" rounded raised (onClick)="loadRoomTypes()"></p-button>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>Internal Code</th>
            <th>Designation</th>
            <th>Description</th>
            <th>Surgery Suitable</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <tr *ngFor="let roomType of roomTypes">
            <td>{{ roomType.code }}</td>
            <td>{{ roomType.designation }}</td>
            <td>{{ roomType.description }}</td>
            <td>
                <p-tag 
                    [value]="roomType.isSuitableForSurgery ? 'Yes' : 'No'" 
                    [severity]="roomType.isSuitableForSurgery ? 'success' : 'warning'">
                </p-tag>
            </td>
            <td>
                <div class="flex gap-2">
                    <button 
                        pButton 
                        icon="pi pi-trash" 
                        class="p-button-rounded p-button-danger" 
                        (onClick)="confirmDeleteRoomType(roomType)" 
                        title="Delete">
                    </button>
                </div>
            </td>
        </tr>
</p-table>
