<div class="card">
    <p-dataView #dv [value]="medicalConditions" [rows]="5" [paginator]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-between mt-2 mb-2">
          <div class="flex gap-4">
  
            <p-floatLabel class="flex-1">
                <input pInputText id="nameFilter" [(ngModel)]="nameFilter" placeholder="Search by name" class="p-inputtext-sm" />
                <label for="nameFilter">Name</label>
              </p-floatLabel>
  
              <p-floatLabel class="flex-1">
                <input pInputText id="codeFilter" [(ngModel)]="codeFilter" placeholder="Search by code" class="p-inputtext-sm" />
                <label for="codeFilter">Code</label>
              </p-floatLabel>
 
            <div class="flex items-end">
              <button (click)="onSearch()" class="p-button p-button-sm p-button-primary">Search</button>
            </div>
          </div>
        </div>
      </ng-template>
  
      <ng-template pTemplate="list" let-items>
        <p-scrollPanel [style]="{ width: '100%', height: '750px' }">
  
          <div class="grid grid-nogutter text-center font-bold bg-primary text-white">
            <div class="col" style="flex: 1;">ID</div>
            <div class="col" style="flex: 2;">Name</div>
            <div class="col" style="flex: 2;">Code</div>
            <div class="col" style="flex: 4;">Description</div>
            <div class="col" style="flex: 4;">Symptoms</div>
          </div>
          
          <div class="grid grid-nogutter text-center border-top-1 surface-border" *ngFor="let item of items">
            <div class="col font-bold text-900" style="flex: 1;">{{ item.id || 'Not specified' }}</div>
            <div class="col" style="flex: 1;">
              <p-badge [value]="item.active ? 'Active' : 'Deactivated'" [severity]="item.active ? 'success' : 'danger'" class="text-sm"></p-badge>
            </div>
            <div class="col" style="flex: 2;">{{ item.name || 'Not specified' }}</div>
            <div class="col" style="flex: 1;">{{ item.code || 'Not specified' }}</div>
            <div class="col" style="flex: 4;">{{ item.description || 'Not specified' }}</div>
            <div class="col" style="flex: 4;">{{ item.symptoms || 'Not specified' }}</div>
            <div class="col" style="flex: 1;">
              <p-button icon="pi pi-eye" [outlined]="true" label="View"  [style]="{ 'color': '#2196F3', 'border-color': '#2196F3' }"></p-button>
            </div>
            <div class="col" style="flex: 2;">
              <div class="flex justify-center gap-2">
                <p-button icon="pi pi-pencil" [outlined]="true" (click)="openEditDialog(item)" [style]="{ 'color': '#2196F3', 'border-color': '#2196F3' }"></p-button>
                <p-button 
                
                icon="pi pi-trash" 
                label="Disable" 
                class="p-button-danger" 
                
                [style]="{ 'background-color': '#f44336', 'border-color': '#f44336', 'color': 'white' }">
              </p-button>
            
             
              </div>
            </div>
        
          
  
   <!-- Diálogo para editar as informações do Staff -->
  <p-dialog header="Edit Medical Condition Information" [(visible)]="editDialogVisible" [responsive]="true" [style]="{ width: '50%' }">
  <div class="card">
    <p-dataView [value]="[selectedMedicalCondition]" [rows]="1">
      <ng-template pTemplate="header">
        <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">
          <div class="col">Field</div>
          <div class="col">Value</div>
        </div>
      </ng-template>
      
      <ng-template pTemplate="list" let-staff>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="name">Name</label>
          </div>
          <div class="col p-2">
            <input pInputText id="name" [(ngModel)]="selectedMedicalCondition.name" />
          </div>
        </div>
        
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="code">Code</label>
          </div>
          <div class="col p-2">
            <input pInputText id="code" [(ngModel)]="selectedMedicalCondition.code" />
          </div>
        </div>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="description">Description</label>
          </div>
          <div class="col p-2">
            <input pInputText id="description" [(ngModel)]="selectedMedicalCondition.description" />
          </div>
        </div>
        <div class="grid grid-nogutter text-center border-top-1 surface-border">
          <div class="col p-2">
            <label for="symptoms">Symptoms</label>
          </div>
          <div class="col p-2">
            <input pInputText id="symptoms" [(ngModel)]="selectedMedicalCondition.symptoms" />
          </div>
        </div>     
      </ng-template>
    </p-dataView>
    <div class="flex justify-content-end">
      <button pButton label="Save" icon="pi pi-check" (click)="saveMedicalConditionInfo(selectedMedicalCondition)" class="p-button-primary"></button>
    </div>
  </div>
  </p-dialog>
  
          </div>
        </p-scrollPanel>
      </ng-template>
    </p-dataView>
  <p-toast></p-toast>
  </div>
  
  <p-confirmDialog></p-confirmDialog>