::ng-deep .p-button.p-button-danger {
    background-color: #f44336 !important;
    border-color: #f44336 !important;
    color: #fff !important;
  }
  
  ::ng-deep .p-button.p-button-danger:hover {
    background-color: #e53935 !important;
    border-color: #e53935 !important;
  }
  
  .col{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
  }
  
  .text-container {
    white-space: nowrap; /* Garante que o texto fique em uma linha */
    overflow: hidden; /* Esconde o texto que ultrapassa o tamanho do contêiner */
    text-overflow: ellipsis; /* Adiciona "..." para textos cortados */
    max-width: 100%; /* Limita a largura máxima do contêiner */
    cursor: pointer; /* Para indicar que o texto pode ter mais conteúdo */
}
