::ng-deep .trash-button .p-button.p-button-outlined {
    color: red !important; 
    border-color: red !important; 
    background-color: transparent !important; 
}

::ng-deep .trash-button .p-button-icon {
    color: red !important; 
}

