
<p-table [value]="operationRequests" [tableStyle]="{'width': '50rem', 'height': '30rem', 'margin': '0 auto'}">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="Id" style="width:10%">
                Id <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="Priority" style="width:10%">
                Priority <p-sortIcon field="priority" />
            </th>
            <th pSortableColumn="Operation Type" style="width:25%">
                Operation Type ID <p-sortIcon field="operationTypeId" />
            </th>
            <th pSortableColumn="Deadline Date" style="width:10%">
                Deadline Date <p-sortIcon field="deadlineDate" />
            </th>
            <th pSortableColumn="Patient Medical Record Number" style="width:20%">
                Patient Medical Record Number <p-sortIcon field="patientmedicalrecordnumber" />
            </th>
            <th pSortableColumn="Status" style="width:15%">
                Status <p-sortIcon field="status" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-operationRequest>
        <tr>
            <td>{{ operationRequest.id }}</td>
            <td>{{ operationRequest.priority }}</td>
            <td>{{ operationRequest.operationTypeId }}</td>
            <td>{{ operationRequest.deadlineDate }}</td>
            <td>{{ operationRequest.patientmedicalrecordnumber }}</td>
            <td>{{ operationRequest.status }}</td>
        </tr>
    </ng-template>
</p-table>
