<div class="card">
    <p-dataView #dv [value]="filteredOperationRequests" [rows]="5" [paginator]="true">
      <ng-template pTemplate="header">
        <div class="flex justify-between">
          <div class="flex gap-4">
            <!-- Filtro de Nome de Paciente -->
            <p-floatLabel class="flex-1">
              <input pInputText id="nameFilter" [(ngModel)]="nameFilter" placeholder="Search by name" class="p-inputtext-sm" />
              <label for="nameFilter">Name</label>
            </p-floatLabel>
  
            <!-- Filtro de Nome de Tipo de Operação -->
            <p-floatLabel class="flex-1">
              <input pInputText id="operationTypeFilter" [(ngModel)]="operationTypeFilter" placeholder="Search by operation type" class="p-inputtext-sm" />
              <label for="operationTypeFilter">Operation Type</label>
            </p-floatLabel>
  
            <!-- Filtro de Prioridade -->
            <p-floatLabel class="flex-1">
              <p-dropdown
                [(ngModel)]="priorityFilter"
                [options]="priorityOptions"
                optionLabel="label"
                optionValue="value"
                class="p-dropdown-sm">
              </p-dropdown>
              <label for="priorityFilter">Priority</label>
            </p-floatLabel>
  
            <!-- Filtro de Status -->
            <p-floatLabel class="flex-1">
              <p-dropdown 
                [(ngModel)]="statusFilter"
                [options]="statusOptions"
                optionLabel="label"
                optionValue="value"
                class="p-dropdown-sm">
              </p-dropdown>
              <label for="statusFilter">Status</label>
            </p-floatLabel>
  
            <div class="flex items-end">
              <button (click)="applyFilter()" class="p-button p-button-sm p-button-primary">Search</button>
            </div>
          </div>
        </div>
      </ng-template>
  
      <ng-template pTemplate="list" let-items>
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let item of items; let first = first">
            <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
              <!-- Dados da operação -->
              <div class="flex flex-column md:flex-row justify-content-between md:align-items-start flex-1 gap-4">
                <div class="flex flex-column gap-2">
                  <span class="font-medium text-primary text-sm">Tipo de Operação: {{ getOperationTypeName(item.operationTypeId) }}</span>
                  <span class="font-medium text-secondary text-sm">Data de Prazo: {{ item.deadlineDate ? (item.deadlineDate | date: 'dd/MM/yyyy') : 'Não especificado' }}</span>
                  <span class="font-medium text-secondary text-sm">Médico: {{ getDoctorName(item.doctorId) }}</span>
                  <span class="font-medium text-secondary text-sm">Paciente: {{ getPatientName(item.pacientMedicalRecordNumber) }}</span>
                </div>
              </div>
  
              <!-- Prioridade  -->
              <div class="flex flex-column md:align-items-end gap-5">
                <span class="font-medium text-secondary text-sm">
                  <p-tag [class]="getPriorityClass(item.priorityLevel)" class="operation-token">
                    {{ item.priorityLevel || 'Não especificado' }}
                  </p-tag>
                </span>
  
                <!-- Status -->
                <span class="font-medium text-secondary text-sm">
                  <p-tag [class]="getStatusClass(item.status)" class="operation-token">
                    {{ item.status || 'Não especificado' }}
                  </p-tag>
                </span>
  
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  <p-button icon="pi pi-trash" styleClass="trash-button" [outlined]="true" (onClick)="confirmDeactivateOperationRequest(item.id)"></p-button>
                  <p-button icon="pi pi-pencil" label="Editar" [disabled]="item.status === 'CONCLUÍDO'" (click)="openDialog(item)"></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <p-confirmDialog></p-confirmDialog>

  <p-dialog 
  [(visible)]="display" 
  [modal]="true" 
  [closable]="false" 
  [responsive]="true" 
  [style]="{width: '100vw', height: '50vh'}" 
  header="Editar Pedido de Operação">
  <div class="p-fluid">
    <div class="p-field">
      <p></p>
      <label for="priority">Prioridade</label>
      <p-dropdown 
        id="priority"
        [(ngModel)]="operationRequest.priority"
        [options]="priorityOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecione a prioridade"
        class="p-dropdown-sm">
      </p-dropdown>
    </div>
    <p></p>
    <div class="p-field">
      <label for="status">Status</label>
      <p-dropdown 
        id="status"
        [(ngModel)]="operationRequest.status"
        [options]="statusOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Selecione o status"
        class="p-dropdown-sm">
      </p-dropdown>
    </div>
    <p></p>
    <div class="p-field">
      <label for="deadlineDate">Data de Prazo</label>
      <p-calendar 
        id="deadlineDate" 
        [(ngModel)]="operationRequest.deadlineDate" 
        [showIcon]="true" 
        placeholder="Selecione a data de prazo">
      </p-calendar>
    </div>
    <p></p>
    <p></p>
    <div class="p-dialog-footer">
      <button pButton type="button" label="Cancelar" icon="pi pi-times" (click)="display = false"></button>
      <button pButton type="button" label="Salvar" icon="pi pi-check" (click)="saveChanges()"></button>
    </div>
  </div>
</p-dialog>