// cores
$primary-color: #007bff; 
$secondary-color: #e0eafc;
$white-color: #ffffff; 
$box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 


$font-title: 'Arial, sans-serif'; 
$font-body: 'Helvetica, sans-serif'; 
