<div class="card flex justify-content-center">
    <p-dialog 
        header="Add Medical Condition" 
        [(visible)]="visible" 
        [modal]="true" 
        [style]="{ width: '30rem' }">

        <div class="flex align-items-center gap-3 mb-3">
            <label for="name" class="font-semibold w-6rem">Name</label>
            <input 
                pInputText 
                id="name" 
                [(ngModel)]="name" 
                class="flex-auto" 
                autocomplete="off" 
                required 
                maxlength="100"
                #medicalConditionNameInput="ngModel"/>
            <small *ngIf="medicalConditionNameInput.invalid && medicalConditionNameInput.touched" class="p-error">Name is required.</small>
        </div>
        
        <div class="flex align-items-center gap-3 mb-3">
            <label for="code" class="font-semibold w-6rem">Code</label>
            <input 
                pInputText 
                id="code" 
                [(ngModel)]="code" 
                class="flex-auto" 
                autocomplete="off" 
                required 
                maxlength="7"
                minlength="6"
                #medicalConditionCodeInput="ngModel" />
            <small *ngIf="medicalConditionCodeInput.errors?.['minlength'] && medicalConditionCodeInput.touched" class="p-error">Code must be 6 or 7 characters long.</small>
            <small *ngIf="medicalConditionCodeInput.invalid && medicalConditionCodeInput.touched" class="p-error">Code is required.</small>
        </div>
        
        <div class="flex align-items-center gap-3 mb-5">
            <label for="description" class="font-semibold w-6rem">Description</label>
            <textarea 
                id="description" 
                [(ngModel)]="description" 
                class="flex-auto" 
                rows="4"
                required 
                placeholder="Insert the description here..." 
                maxlength="2048"
                #medicalConditionDescriptionInput="ngModel">
            </textarea>
            <small *ngIf="medicalConditionDescriptionInput.invalid && medicalConditionDescriptionInput.touched" class="p-error">Description is required.</small>
        </div>
        
        <div class="flex align-items-center gap-3 mb-5">
            <label for="symptoms" class="font-semibold w-6rem">Symptoms</label>
            <textarea 
                id="symptoms" 
                [(ngModel)]="symptoms" 
                class="flex-auto" 
                rows="4" 
                required 
                maxlength="2048"
                placeholder="Insert the symptoms here..." 
                #medicalConditionSymptomsInput="ngModel">
            </textarea>
            <small *ngIf="medicalConditionSymptomsInput.invalid && medicalConditionSymptomsInput.touched" class="p-error">Symptoms is required.</small>
        </div>
        <ng-template pTemplate="footer">
            <p-button 
                label="Cancel" 
                [text]="true" 
                severity="secondary" 
                (onClick)="resetForm(); visible = false"></p-button>
            <p-button 
                label="Save" 
                [outlined]="true" 
                severity="primary" 
                (onClick)="saveMedicalCondition()"
                [disabled]="!name || !code || !description || !symptoms || !isFormValid()"></p-button>
        </ng-template>
    </p-dialog>

    <!-- Toast Notifications -->
    <p-toast></p-toast>
</div>
