<div class="card flex justify-content-center">
    <p-dialog 
        header="Add Medical Condition" 
        [(visible)]="visible" 
        [modal]="true" 
        [style]="{ width: '30rem' }">

        <div class="flex align-items-center gap-3 mb-3">
            <label for="name" class="font-semibold w-6rem">Name</label>
            <input 
                pInputText 
                id="name" 
                [(ngModel)]="name" 
                class="flex-auto" 
                autocomplete="off" 
                required 
                (ngModelChange)="validateFields()" 
                [ngClass]="{'invalid-border': isSubmitted && !isNameValid}" />
        </div>
        <div *ngIf="isSubmitted && !isNameValid" class="error-text">
            Name is required.
        </div>
        
        <div class="flex align-items-center gap-3 mb-3">
            <label for="code" class="font-semibold w-6rem">Code</label>
            <input 
                pInputText 
                id="code" 
                [(ngModel)]="code" 
                class="flex-auto" 
                autocomplete="off" 
                required 
                (ngModelChange)="validateFields()" 
                [ngClass]="{'invalid-border': isSubmitted && !isCodeValid}" />
        </div>
        <div *ngIf="isSubmitted && !isCodeValid" class="error-text">
            Code is required.
        </div>
        
        <div class="flex align-items-center gap-3 mb-5">
            <label for="description" class="font-semibold w-6rem">Description</label>
            <textarea 
                id="description" 
                [(ngModel)]="description" 
                class="flex-auto" 
                rows="4" 
                placeholder="Insert the description here..." 
                #allergyDescriptionInput="ngModel"
                (ngModelChange)="validateFields()"
                [ngClass]="{'invalid-border': isSubmitted && !isDescriptionValid}" >
            </textarea>
        </div>
        <div *ngIf="isSubmitted && !isDescriptionValid" class="error-text">
            Description is required.
        </div>
        
        <div class="flex align-items-center gap-3 mb-5">
            <label for="symptoms" class="font-semibold w-6rem">Symptoms</label>
            <textarea 
                id="symptoms" 
                [(ngModel)]="symptoms" 
                class="flex-auto" 
                rows="4" 
                placeholder="Insert the symptoms here..." 
                #allergyDescriptionInput="ngModel"
                (ngModelChange)="validateFields()"
                [ngClass]="{'invalid-border': isSubmitted && !isSymptomsValid}" >
            </textarea>
        </div>
        <div *ngIf="isSubmitted && !isSymptomsValid" class="error-text">
            Symptoms are required.
        </div>
        <ng-template pTemplate="footer">
            <p-button 
                label="Cancel" 
                [text]="true" 
                severity="secondary" 
                (onClick)="resetForm(); visible = false"></p-button>
            <p-button 
                label="Save" 
                [outlined]="true" 
                severity="primary" 
                (onClick)="saveMedicalCondition()"></p-button>
        </ng-template>
    </p-dialog>

    <!-- Toast Notifications -->
    <p-toast></p-toast>
</div>
