<div class="card flex justify-content-center">
    <p-dialog 
        header="Write Medical Record" 
        [(visible)]="visible" 
        [modal]="true" 
        [style]="{ width: '30rem' }">
        <span class="p-text-secondary block mb-5">Insert info :</span>

        <div class="flex align-items-center gap-3 mb-3">
            <label for="allergies" class="font-semibold w-6rem">Allergies</label>
            <p-multiSelect
                id="allergies"
                [options]="optionList"
                [(ngModel)]="selectedAllergies"
                placeholder="Select Allergies"
                [appendTo]="'body'"
                required
                #specializationsInput="ngModel">
            </p-multiSelect>
            <small *ngIf="allergiesInput.invalid && allergiesInput.touched" class="p-error">Must choose one.</small>~

            <p-multiSelect
                id="medicalConditions"
                [options]="optionList"
                [(ngModel)]="selectedMedicalConditions"
                placeholder="Select Medical Conditions"
                [appendTo]="'body'"
                required
                #specializationsInput="ngModel">
            </p-multiSelect>
        </div>

        <ng-template pTemplate="footer">
            <p-button 
                label="Cancel" 
                [text]="true" 
                severity="secondary" 
                (onClick)="visible = false"></p-button>
            <p-button 
                label="Save" 
                [outlined]="true" 
                severity="primary" 
                (onClick)="saveMedicalRecord()" 
                [disabled]="!isFormValid()"></p-button>
        </ng-template>
    </p-dialog>

    <!-- Toast Notifications -->
    <p-toast></p-toast>
</div>
