<div class="card">
  <p-dataView #dv [value]="operationTypes" [rows]="5" [paginator]="true">
    <ng-template pTemplate="header">
      <div class="flex justify-between">
        <div class="flex gap-4">
          <!-- Filtro de Nome -->
          <p-floatLabel class="flex-1">
            <input pInputText id="nameFilter" [(ngModel)]="nameFilter" placeholder="Search by name"
              class="p-inputtext-sm" />
            <label for="nameFilter">Name</label>
          </p-floatLabel>

          <!-- Filtro de Status -->
          <p-floatLabel class="flex-1">
            <p-dropdown [(ngModel)]="statusFilter" [options]="statusOptions" optionLabel="label" optionValue="value"
              class="p-dropdown-sm">
            </p-dropdown>
            <label for="statusFilter">Status</label>
          </p-floatLabel>

          <!-- Filtro de Especialização -->
          <p-floatLabel class="flex-1">
            <p-dropdown [(ngModel)]="specializationFilter" [options]="specializationsOptions" optionLabel="label"
              optionValue="value" placeholder="Select Specialization" class="p-dropdown-sm">
            </p-dropdown>
            <label for="specializationFilter">Specialization</label>
          </p-floatLabel>

          <div class="flex items-end">
            <button (click)="onSearch()" class="p-button p-button-sm p-button-primary">Search</button>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="list" let-items>
      <p-scrollPanel [style]="{ width: '100%', height: '750px' }">
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let item of items; let first = first">
            <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
              [ngClass]="{ 'border-top-1 surface-border': !first }">
              <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                  <div>
                    <p-badge [value]="item.isActive ? 'Active' : 'Deactivated'"
                      [severity]="item.isActive ? 'success' : 'danger'" class="text-sm mt-3 font-medium">
                    </p-badge>

                    <br>

                    <span class="font-bold text-xl text-900">{{ item.name || 'Not specified' }}</span>

                    <div class="text-sm text-900 mt-2">Estimated Time: {{ item.estimatedTimeDuration }} mins</div>
                    <div class="text-sm">Anesthesia Time: {{ item.anesthesiaTime || 'Not specified' }} mins</div>
                    <div class="text-sm">Surgery Time: {{ item.surgeryTime || 'Not specified' }} mins</div>
                    <div class="text-sm">Cleaning Time: {{ item.cleaningTime || 'Not specified' }} mins</div>

                    <div class="text-sm mt-3">
                      <span class="font-medium">Specializations:</span>

                      <div *ngFor="let specialization of item.specializations; let last = last">
                        <div class="flex justify-between">
                          <span>{{ getSpecializationName(specialization.id) || 'Not specified' }}</span>
                          <div class="flex items-center ml-3">
                            <i class="pi pi-users mr-1"></i>
                            <span>{{ specialization.numberOfStaff || 'Not specified' }}</span>
                          </div>
                        </div>
                        <div *ngIf="!last" class="my-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-column md:align-items-end gap-5">
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  <!--  <p-button icon="pi pi-pencil" [outlined]="true" [disabled]="!item.isActive" 
                    [style]="{ 'color': '#2196F3', 'border-color': '#2196F3' }"
                    [routerLink]="['/edit-operation-type', item.id]">
                  </p-button> -->

                  <p-button icon="pi pi-trash" label="Disable" [disabled]="!item.isActive"
                    [ngClass]="{ 'p-button-danger': true }" [style]="{
                      'background-color': '#f44336', 
                      'border-color': '#f44336', 
                      'color': 'white'
                    }" (click)="confirmDisable(item.id)">
                  </p-button>
                  <p-button icon="pi pi-pencil" label="Edit" [disabled]="!item.isActive"
                    [ngClass]="{ 'p-button-danger': false }" [style]="{
                      'background-color': '#f000099', 
                      'border-color': '#f000099', 
                      'color': 'white'
                    }" (click)="onEdit(item)">
                  </p-button>

                </div>
              </div>
            </div>
          </div>
        </div>



        <p-dialog header="Edit Operation Type Information" [(visible)]="editDialogVisible" [responsive]="true"
          [style]="{ width: '50%', height: '70%' }">
          <div class="card">
            <p-dataView [value]="[selectedOperationType]" [rows]="1">
              <ng-template pTemplate="header">
                <div class="grid grid-nogutter text-center p-2 font-bold bg-primary text-white">
                  <div class="col">Field</div>
                  <div class="col">Value</div>
                </div>
              </ng-template>

              <ng-template pTemplate="list" let-operationType>
                <!-- Name -->
                <div class="grid grid-nogutter text-center border-top-1 surface-border">
                  <div class="col p-2">
                    <label for="name">Name</label>
                  </div>
                  <div class="col p-2">
                    <input pInputText id="name" [(ngModel)]="selectedOperationType.name" />
                  </div>
                </div>

                <!-- Estimated Time Duration -->
                <div class="grid grid-nogutter text-center border-top-1 surface-border">
                  <div class="col p-2">
                    <label for="estimatedTimeDuration">Estimated Time Duration (min)</label>
                  </div>
                  <div class="col p-2">
                    <input pInputText id="estimatedTimeDuration"
                      [(ngModel)]="selectedOperationType.estimatedTimeDuration" type="number" />
                  </div>
                </div>

                <!-- Anesthesia Time -->
                <div class="grid grid-nogutter text-center border-top-1 surface-border">
                  <div class="col p-2">
                    <label for="anesthesiaTime">Anesthesia Time (min)</label>
                  </div>
                  <div class="col p-2">
                    <input pInputText id="anesthesiaTime" [(ngModel)]="selectedOperationType.anesthesiaTime"
                      type="number" />
                  </div>
                </div>

                <!-- Cleaning Time -->
                <div class="grid grid-nogutter text-center border-top-1 surface-border">
                  <div class="col p-2">
                    <label for="cleaningTime">Cleaning Time (min)</label>
                  </div>
                  <div class="col p-2">
                    <input pInputText id="cleaningTime" [(ngModel)]="selectedOperationType.cleaningTime"
                      type="number" />
                  </div>
                </div>

                <!-- Surgery Time -->
                <div class="grid grid-nogutter text-center border-top-1 surface-border">
                  <div class="col p-2">
                    <label for="surgeryTime">Surgery Time (min)</label>
                  </div>
                  <div class="col p-2">
                    <input pInputText id="surgeryTime" [(ngModel)]="selectedOperationType.surgeryTime" type="number" />
                  </div>
                </div>

                <!-- Specializations -->
                <div class="grid grid-nogutter text-center border-top-1 surface-border">
                  <div class="col p-2">
                    <label for="specializations">Specializations</label>
                  </div>
                  <div class="col p-2">
                    <p-multiSelect [(ngModel)]="selectedOperationType.specializations"
                      [options]="specializationsOptions" optionLabel="label" optionValue="value"
                      placeholder="Select Specializations" [style]="{ width: '200px', height: '40px' }" [appendTo]="'body'">
                    </p-multiSelect>
                  </div>
                </div>
              </ng-template>
            </p-dataView>
            <div class="flex justify-content-end">
              <button pButton label="Save" icon="pi pi-check" (click)="saveOperationTypeInfo(selectedOperationType)"
                class="p-button-primary"></button>
            </div>
          </div>
        </p-dialog>

      </p-scrollPanel>
    </ng-template>
  </p-dataView>
</div>

<p-confirmDialog></p-confirmDialog>