<div class="dashboard-container">
    <h1>Doctor Dashboard</h1>
    <app-menubar [menuItems]="items"></app-menubar>

    <create-medical-record></create-medical-record>
    <create-operation-requests></create-operation-requests>
    <div *ngIf="showHospitalModel">
        <app-hospital-model></app-hospital-model>
    </div>
   <div *ngIf="showOperationRequestsList">
        <list-operation-requests></list-operation-requests>
    </div>
    <div *ngIf="showMedicalRecordsList">
        <list-medical-record></list-medical-record>
    </div>

    <div *ngIf="showPatientsList">
        <list-patients></list-patients>
    </div>

</div>
<app-profile-menu></app-profile-menu>
<router-outlet></router-outlet>