<div class="dashboard-container">
    <app-menubar [menuItems]="items"></app-menubar>
    <h1 class="dashboard-title">Admin Dashboard</h1>
    <create-operation-types-modal></create-operation-types-modal>
    <create-staffs-modal></create-staffs-modal>
    <create-patients-modal></create-patients-modal>
    <app-create-specializations></app-create-specializations>
    <create-allergies></create-allergies>
    <div *ngIf="showAllergiesList">
        <list-allergies></list-allergies>
    </div>
    <div *ngIf="showHospitalModel">
        <app-hospital-model></app-hospital-model>
    </div>
    <div *ngIf="showOperationTypesList">
        <list-operation-types></list-operation-types>
    </div>
    <div *ngIf="showStaffsList">
        <list-staffs></list-staffs>
    </div>
    <div *ngIf="showPatientsList">
        <list-patients></list-patients>
    </div>

    <div *ngIf="showSpecializationList">
        <list-specializations></list-specializations>
    </div>
    <app-profile-menu></app-profile-menu>
</div>

<router-outlet></router-outlet>

