.dashboard-container {
    position: relative;
    padding-top: 10px; /* Ajuste caso o layout precise de mais ou menos espaço */
  }
  
  .dashboard-title {
    margin-top: 20px; /* Ajuste a distância do título em relação à menu bar */
    font-size: 24px;  /* Tamanho do título */
    font-weight: bold; /* Deixe o título em negrito */
    color: #333; /* Cor do título */
    margin-left: 20px; /* Margem à esquerda para alinhar com o conteúdo */
  }
  